[submodule "Content"]
	path = Content
	url = git@gitlab.com:SeditiousGames/GodsOfDeceit_Content.git
	branch = master
[submodule "Plugins"]
	path = Plugins
	url = git@gitlab.com:SeditiousGames/GodsOfDeceit_Plugins.git
	branch = master
[submodule "ThirdParty"]
	path = ThirdParty
	url = git@gitlab.com:SeditiousGames/GodsOfDeceit_ThirdParty.git
	branch = master
