[submodule "Content"]
	path = Content
	url = git@gitlab.com:Khavaran67/GodsOfDeceit_Content.git
	branch = master
[submodule "Plugins"]
	path = Plugins
	url = git@gitlab.com:Khavaran67/GodsOfDeceit_Plugins.git
	branch = master
